# Project exclude paths
/.vscode/*
/BigIntegerTest/*
/build/*
/CMakeFiles/*
/src/BigInt.h.gch
/src/Alltype.h.gch
/src/main_backup.txt
/src/_Evalvisitor.cpp
/temp/*
/testData/*
/Makefile
/py_manual.pdf
/test.py
/code
/details.md
/CMakeCache.txt
/*.cmake
/*.Alltype
/*.o
